# ETL Pipeline Preparation

#### We will use pandas to merge "messages.csv" and "categories.csv" into one data frame.

#### 1) Loading Data

In [48]:
import pandas as pd

In [49]:
messages = pd.read_csv(r'C:\Users\ogzpython\Desktop\ml\response_ml\Disaster_Response_Project\data\disaster_messages.csv')

In [50]:
messages.head(5)
messages.count()

id          26248
message     26248
original    10184
genre       26248
dtype: int64

In [51]:
categories = pd.read_csv(r'C:\Users\ogzpython\Desktop\ml\response_ml\Disaster_Response_Project\data\disaster_categories.csv')

In [52]:
categories.head(5)
categories.count()

id            26248
categories    26248
dtype: int64

#### 2) Merge Datasets

In [53]:
df = pd.merge(left=messages,right=categories, how='inner',on=['id'])

In [54]:
df.head(5)

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [55]:
df.count()

id            26386
message       26386
original      10246
genre         26386
categories    26386
dtype: int64

#### 3) Spliting categories column

In [56]:
categories= df['categories'].str.split(expand= True, pat= ';')

In [57]:
df.head(5)

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [58]:
row= categories[:1]

In [59]:
col_names_lambda= lambda x: x[0][:-2]

In [60]:
category_colnames= list(row.apply(col_names_lambda))

In [61]:
categories.columns = category_colnames

In [62]:
categories.head(5)

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
1,related-1,request-0,offer-0,aid_related-1,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-1,floods-0,storm-1,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
2,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
3,related-1,request-1,offer-0,aid_related-1,medical_help-0,medical_products-1,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0
4,related-1,request-0,offer-0,aid_related-0,medical_help-0,medical_products-0,search_and_rescue-0,security-0,military-0,child_alone-0,...,aid_centers-0,other_infrastructure-0,weather_related-0,floods-0,storm-0,fire-0,earthquake-0,cold-0,other_weather-0,direct_report-0

#### 4) converting category values to 0 or 1

In [63]:
for col in categories.columns:
    categories[col]= categories[col].apply(lambda x: x[-1])
    categories[col]= categories[col].astype(int)

In [64]:
categories.head(5)

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

##### Checking if all values are binary

In [65]:
import numpy as np
for i in categories.columns:
    print(i)
    print(np.unique(categories[i].value_counts().index))

related
[0 1 2]
request
[0 1]
offer
[0 1]
aid_related
[0 1]
medical_help
[0 1]
medical_products
[0 1]
search_and_rescue
[0 1]
security
[0 1]
military
[0 1]
child_alone
[0]
water
[0 1]
food
[0 1]
shelter
[0 1]
clothing
[0 1]
money
[0 1]
missing_people
[0 1]
refugees
[0 1]
death
[0 1]
other_aid
[0 1]
infrastructure_related
[0 1]
transport
[0 1]
buildings
[0 1]
electricity
[0 1]
tools
[0 1]
hospitals
[0 1]
shops
[0 1]
aid_centers
[0 1]
other_infrastructure
[0 1]
weather_related
[0 1]
floods
[0 1]
storm
[0 1]
fire
[0 1]
earthquake
[0 1]
cold
[0 1]
other_weather
[0 1]
direct_report
[0 1]

#### Only Related had values of "2" we will convert them to  "1" considering an error

In [66]:
categories.loc[categories['related']==2,'related'] = 0

In [67]:
np.unique(categories['related'].value_counts().index) ## issue is fixed

array([0, 1], dtype=int64)

##### 5) Replacing "categories" in df with expandad categories df

In [68]:
df.drop(labels=['categories'],axis=1,inplace=True)
df.head(5)

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [69]:
df= pd.concat([df,categories],axis=1)

In [70]:
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

#### 6) remove duplicates from df

In [71]:
df.duplicated().sum()

170

In [72]:
df.drop_duplicates(inplace=True)

In [73]:
df.duplicated().sum()

0

#### 7) creating database engine and SQLite DB from cleaned df

In [74]:
from sqlalchemy import create_engine

In [75]:
engine = create_engine('sqlite:///C:\\Users\\ogzpython\\Desktop\\ml\\response_ml\\Disaster_Response_Project\\data\\dis_res.db')
# uncoment next if you need to!
# engine= create_engine('sqlite:///dis_res.db')

In [76]:
df.to_sql('dis_res', engine, index=False, if_exists='replace')